@import '../../variables.scss';

.summaryRow {

	margin-bottom:40px;

	:global {
		.card {
			background-color: $dark-grey;
			color: $accent;
			font-weight:bold;
			text-align: center;
			margin-bottom:20px;
		}
		.card-title {
			font-size:55px;
		}
	}

	.cardHigh {
		color: $red;
	}

	.cardInProgress {
		color: $light-grey;
	}

	.cardDone {
		color: $green;
	}
}

@media (max-width:768px) {
	:global {
		.card {
			margin-bottom:10px;
			.card-title {
				font-size:35px !important;
			}
			.card-body {
				padding: 0.5rem 0.5rem;
			}
		}
		
	}
}