@import '../../variables.scss';

.searchWrapper {
    margin-bottom:20px;
    background:$dark-grey;
    padding-left:20px;
    display: flex;
    align-items: center;
    border-radius: $border-radius;

    svg {

        &:hover {
            cursor: pointer;
            opacity:0.7;
        }
    }
}
.searchBar {
    width:100%;
    
    border-color:$dark-grey;
    padding-top:10px;
    padding-bottom:10px;

    &:focus {
        background: $dark-grey;
        color: #ffffff;
        border-color: $dark-grey;
        box-shadow:none;
    }

    &::placeholder {
        color: $light-grey;
    }

    
}