@import '../../variables.scss';

.projectGrid {

    :global{
        .card {
            background-color: #36393e;
            color: #7289da;
            font-weight: bold;
            text-align: center;
            min-height:200px;

            text-align: left;

            .card-body {
                display: flex;
                flex-wrap: wrap;
                align-content: space-between;
                padding: 1.5rem 1.5rem;

                .card-title {
                    font-size:28px;
                    width:100%;
                    
                    a {
                        text-decoration: none;
                        margin-right:10px;

                        &:hover {
                            color: $accent;
                        }
                    }

                    
                }

                .card-text {
                    width:100%;
                    // padding-top:40px;
                    color: $light-grey;
                    // display:flex;
                    // justify-content: space-between;
                    span {
                        display:block;
                        width:100%;
                        color:white;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;      
                        
                        svg {
                            color: $light-grey;
    
                            &:hover {
                                cursor: pointer;
                                opacity: 0.8;
                            }
                        }
                    }

                    
                }
            }
            

            
        }
    }
    
    // margin-bottom: 20px;
}

.modal {

	.modalContent {
		border-radius: $border-radius !important;
		border-color: $darker-grey;
	}

	.modalHeader {
		background-color: $darker-grey;
		color: $white;
		border-bottom: 2px solid $black;
		border-top-right-radius: 2px;
		border-top-left-radius: 2px;
		
	}
	.modalBody {
		background-color: $darker-grey;
		color: $white;
		// border-bottom-right-radius: 2px;
		// border-bottom-left-radius: 2px;
	}

	.modalFooter {
		// border-top: 2px solid $black;
		border-color: $black;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		background-color: $darker-grey;
		border-bottom-right-radius: 2px;
		border-bottom-left-radius: 2px;
	}


}
