@import '../../variables.scss';

:global {

	.assignedTo {
		text-transform: capitalize;
	}
	
}

.buglist {
	background: $dark-grey;
	border-radius: $border-radius;

	th {
		font-weight: normal;
		color: $white;
		padding:20px !important;
		border-color: $darker-grey;
	}

	td{
		font-size:14px;
		color: $white;
		padding:20px !important;
		border-color: $darker-grey;
		vertical-align: middle;
		//background-color: $black;
		//border-bottom-width:2px;
	}


	.bugTitle {
		// cursor: pointer;

		// &:hover {
		// 	text-decoration: underline;
		// }
		// display: flex;
    	// justify-content: space-between;
		.titleText {
			margin-bottom:5px;
		}
		.projectBadge {
			background-color: $grey !important;
			display:inline-flex;
			align-items: center;
			font-weight:normal;

		}

		:global {
			
			.badge {
				font-size:11px;
			}
			p {
				margin-bottom:0px;
			}
			svg {
				margin-right:3px;
				height:10px;
			}
		}

		
	}

	
}


.bugListFilters {
	margin-bottom:10px;
	display:flex;
	justify-content: space-between;

	:global {
		p {
			display: inline-block;
			text-transform: uppercase;
			font-size:14px;
		}
		button.btn {
			text-transform: uppercase;
			font-weight: 500;
			padding: 0.35em 0.65em;
			font-size: .75em;
			background-color: transparent ;
			color:white;
			border-color:transparent;
			&:hover {
				// background-color:unset !important;
			}

			// &.btn-primary:hover, &.btn-primary.active {
			// 	background-color: #7289da !important;
			// }
			// &.btn-secondary:hover, &.btn-secondary.active {
			// 	background-color: #6c757d !important;
			// }
			// &.btn-warning:hover, &.btn-warning.active {
			// 	background-color: #ffc107 !important;
			// }
			// &.btn-success:hover, &.btn-success.active {
			// 	background-color: #198754 !important;
			// }

		} 

		.resetFilter {
			color: $red !important;

			&.btn.btn-primary:hover {
				background-color: $dark-grey !important;
			}
		}
	}

	.filterStatus {
		:global {
			button.btn {
				&.btn-primary:hover, &.btn-primary.active {
					background-color: #7289da !important;
				}
				&.btn-secondary:hover, &.btn-secondary.active {
					background-color: #6c757d !important;
				}
				&.btn-warning:hover, &.btn-warning.active {
					background-color: #ffc107 !important;
				}
				&.btn-success:hover, &.btn-success.active {
					background-color: #198754 !important;
				}

			} 

		}

		text-align: right;
	}

	.filterPriority {
		:global {
			.priorityLow:hover, .priorityLow.active {
				color: $green;
			}
			.priorityMedium:hover, .priorityMedium.active {
				color: $accent;
			}
			.priorityHigh:hover, .priorityHigh.active {
				color: $red;
			}
		}
	}
	
}

.priority {
	&:global(.Low) {
		color: $green;
	}
	&:global(.Medium) {
		color:$accent;
	}
	&:global(.High) {
		color:$red;
	}

	// font-weight: bold;
}

.badge {
	text-transform: uppercase;
	font-weight: 500;
	
}

.Modal {

	.modalContent {
		border-radius: $border-radius !important;
		border-color: $darker-grey;
	}

	.modalHeader {
		background-color: $darker-grey;
		color: $white;
		border-bottom: 2px solid $black;
		border-top-right-radius: 2px;
		border-top-left-radius: 2px;
		
	}
	.modalBody {
		background-color: $darker-grey;
		color: $white;
		// border-bottom-right-radius: 2px;
		// border-bottom-left-radius: 2px;
	}

	.modalFooter {
		// border-top: 2px solid $black;
		border-color: $black;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		background-color: $darker-grey;
		border-bottom-right-radius: 2px;
		border-bottom-left-radius: 2px;
	}


}

@media (max-width:768px) {
	.buglist {

		th {
			// padding:15px !important;

			.dateAdded {
				width:15%;
			}
		}
		
		td {
			font-size:14px;
			// padding:15px !important;

			button{
				margin-bottom:5px;
				width:100%;
			}

			
		}
	}

	.bugListFilters {

		:global {
			button.btn {
				font-size:11px;
			}
		}
	}
	
}

@media (max-width:1350px) {
	.buglist {

			button{
				margin-bottom:5px;
				width:100%;
			}

	}
	
}
