/*
  Variables
 */

/*:root {
  --accent: #7289da;
  --accent-2 : #6665d2;
  --white: #ffffff;
  --light-grey: #99aab5;
  --dark-grey: #36393e;
  --darker-grey: #2c2f33;
  --black: #23272a;

  --border-radius: 6px;
}*/

$accent: #7289da;
$accent-2 : #6665d2;
$white: #ffffff;
$grey: #6c757d;
$light-grey: #99aab5;
$dark-grey: #36393e;
$darker-grey: #2c2f33;
$black: #23272a;
$red: #ec4145;
$green: #3da560;
$blue: #5866ef;
$border-radius: 10px;